/*
Written by: Laurina Madden
Student Number: x20200765
Using W3 Schools as reference
Reminder notes for me:
id="id" 
#id{}
class="class"
.class{}
<body>
body{}
* {
    top: 50%;
    width: 100%;
    text-align: center;
    /*object-position:40% 40%;*/
    /*background-color: rgb(210, 187, 255);
    background-image: linear-gradient(to bottom right, rgb(210, 187, 255), rgb(255, 202, 232));
    background-repeat: no-repeat;
    /*background-size: fill;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.class{}
#id{}
*/

/*The backgound would only expand to the whole screen when html, was added before body. Which blew my mind.*/

/*
html, . {

}
*/

html, body {
    height: 100%;
    margin: 10;
    /*margin: 10%; created white border need to play around with this*/
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(210, 187, 255), rgb(255, 202, 232));
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Here to play around with */
/*
html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(210, 187, 255), rgb(255, 202, 232));
    background-repeat: no-repeat;
    background-size: cover;
    
}
*/

h {
    color:rgb(17, 0, 49);
    padding: 10%;
    /*
    Failed Tries
    margin: 50px;
    margin: 10%;
    margin-bottom: 10;
    top: 50px;
    */
}

.txt{
   color:rgb(17, 0, 49); 
}

button {
    /*display: flex;
    /* Buttons should be side by side */
    /*flex-direction: row;
    /* Buttons should be on top of each other */
    /*flex-direction: column;*/
    /* Horazontal Center */
    /*justify-content: center;
    /* Vertical Center */
    /*align-items: center;
    /* Makes container that takes up the whole page. Meant to help with centering. */
    /*height: 100vh;*/

    /* Space between buttons */
    margin: 20px 0;
    /* Stop buttons stretching */
    width: auto;
    flex: none;
    /*border-radius: 15px 50px;*/
    border-radius: 18px 50px;
    /*padding, width, height - all effect each other*/
    padding: 15px;
    /*width: 80px;
    height: 30px;*/
    
    border: 2px solid #fffffe;
    background-color: #e0beff;
    /*background-color: rgb(210, 187, 255), rgb(255, 202, 232);*/
}

